.wrapper{
    margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
    padding: 24px 0;
}

.body{
    margin-left: 16px;

}
.see-more {
    margin-left: 78px;
    margin-top: 10px;
    width: 300px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}