.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    position: fixed;
    background-color: white;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}
.logo {
    display: flex;
}
.actions {
    display: flex;
    align-items: center;
}
.action-btn1 {
    background-color: transparent;
    padding: 3px 3px 0px;
    margin-left: 16px;
    color: #161823;

    cursor: pointer;
}
.action-btn2 {
    background-color: transparent;
    margin-left: 16px;
    color: #161823;
    cursor: pointer;
}
.upload {
    border-color: #e5e5e5;
    color: rgba(22, 24, 35, 1);
    width: 113.63px;
    &:hover {
        background: rgb(22, 24, 35, 0.03);
    }
}

.user-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 24px;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background: #fff;
    padding: 4px 8px;
    cursor: pointer;
}


