.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}
.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    display: flex;

    input {
        flex: 1;
        height: 100%;
        background-color: transparent;
        color: rgb(22, 24, 35);
        caret-color: var(--primary);
        font-size: 16px;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-result {
    width: 361px;
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
}
.clear,
.loading {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background: rgb(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgb(22, 24, 35, 0.06);
    }
}

.upload {
    border-color: #e5e5e5;
    color: rgba(22, 24, 35, 1);
    width: 113.63px;
    &:hover {
        background: rgb(22, 24, 35, 0.03);
    }
}
.actions {
    display: flex;
    align-items: center;
}
.action-btn {
    background-color: transparent;
    font-size: 2rem;
    padding: 5px 6px;
    color: #161823;
    margin-left: 16px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background: #fff;
    padding: 4px 8px;
    cursor: pointer;
}

.user-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 24px;
}
